<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
</head>

<body>
    <center>
        {{> header}}
    </center>
    <center>
        <p>Hello Guys this is hbs</p>
    </center>
    {{> footer}}
</body>

</html>