<!DOCTYPE html>
<html>

<head>
    <title>About Page</title>
</head>

<body>
    <center>
        {{> header}}
    </center>
    <center>
        <p> Welcome to {{message}}</p>
        <p>{{screamIt "Whats"}}</p>

    </center>
    {{> footer}}
</body>

</html>