<!DOCTYPE html>
<html>

<head>
    <title>Maintenance Page</title>
</head>

<body>
    <center>
        <h1>Website Under Maintenance</h1>
    </center>
    <center>
        <p>Sorry for the inconvience</p>

    </center>
</body>

</html>